body {
    background-color: lightgray;
    filter: saturate(80%);
    
}
.banniere {
    margin: 0 auto;
    height: 200px;
    width: 800px;
    border: 2px solid black;
}
.image {
    height: 200px;
    width: 800px;
}

    

.img_article {
    height: 100px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid grey;
}
h1 {
    color: red;
    font-size: xx-large;
    text-align: center;
}
.navbarre {
    text-align: center;
    color: gray;   
}
li {
    list-style-type: none;
}

li:hover {
    color: red;
    text-decoration: underline;
    
    
}
H3 {
    text-decoration: underline dashed 1px;
}
article {
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.footer {
    display: block;
    position: absolute;
    right: 20px;
    padding-bottom: 20px;
}
