body {
    background: radial-gradient(circle at top,#CCDAE0,#EDF2F4);
    filter: saturate(80%);
    
}
.banniere {
    margin: auto;
    height: 200px;
    width: 100vh;
    border: 2px solid black;
}
.image {
    height: 200px;
    width: 100vh;
}

    

.img_article {
    height: 100px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #8D99AE;
}
h1 {
    color: #EF233C;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbarre {
    text-align: center;
       
}
li {
    list-style-type: none;
}
h3 {
    color: #2B2D42;
    font-weight: bold;
    text-decoration: underline dashed 1px;
}
article {
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.footer {
    display: block;
    position: absolute;
    right: 20px;
    padding-bottom: 20px;
}
a:visited {
    color: grey;
}
a:link {
    color:#D90429 ;
}
a:hover {
    color: #2B2D42;
}
span {
    color: red;
}
.submit {
    margin-right: 5px;
}
.image_blog {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 10px;
    border: 2px solid #8D99AE;
}
.article_blog {
    height: 300px;
    
}
.titre_blog {
    text-decoration: underline;
}
.contenair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.article_blog-2 {
    flex-basis: 45%;
    margin-left: 10%;
    margin-bottom: 5px;
}
.article_blog-3 {
    flex-basis: 45%;
    margin-left: 30%;
}
.ing-blog {
    position: absolute;
    right: 200px;
    top: 780px;
    height: 150px;
    width: 300px;
    border: 2px solid#D90429;
}
.article_blog-1 {
    margin-bottom: 5px;
}
.contenair_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
  
    
    
}
.galerie {  
    width: 100%;
    height: 100%;
}
.grid-item {
    border: 2px solid burlywood;  
}
.grid-item-1 {
    grid-column: 1 ;
    grid-row: 1;
}
.grid-item-2 {
    grid-column: 2 / 3;
    grid-row: 1 ;
}
.grid-item-3 {
    grid-column: 1;
  grid-row: 2 / 3;
}
.grid-item-4 {
    grid-column: 3;
  grid-row: 3;
}
.grid-item-5 {
    grid-column: 2;
    grid-row: 2;
}
.grid-item-6 {
    grid-column: 3;
    grid-row: 2;
}